@model ECommWeb.Models.Product

@{
    ViewData["Title"] = "Create";
}
<style>
    .LabelClass {
        float: right;
        margin-right: 5px;
        font: bold;
    }
   
</style>
<body style="background-color:#adb5bd;">

    <h3>Sell Products</h3>


    <form asp-action="Create">


        <table width="100%">
            <tr>
                <td>
                    <input type="submit" value="Save" style="float:right" class="btn btn-dark" />
                </td>
            </tr>
        </table>


        <table width="100%">
            <tr>
                <td>
                    <table>
                        <tr >
                            <td>
                                <label class="control-label LabelClass">Product Name: </label>
                            </td>
                            <td>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </td>
                      
                            <td>
                                <label class="control-label LabelClass">Category: </label>
                            </td>
                          @*   <td>
                                <input asp-for="CategoryID" class="form-control" />
                            </td> *@
                            <td>
                                @Html.DropDownList("CategoryID", ViewBag.Categories as SelectList, "Select Category", new { @class = "form-control" })
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label class="control-label LabelClass">Available Quantity: </label>
                            </td>
                            <td>
                                <input asp-for="Stock_Quantity" class="form-control" />
                            </td>
                     
                            <td>
                                <label class="control-label LabelClass">Unit Price: </label>
                            </td>
                            <td>
                                <input asp-for="Price" class="form-control" />
                            </td>
                           

                            </tr>
                        <tr>


                            <td>
                                <label class="control-label LabelClass">Short Text: </label>
                            </td>
                            <td colspan="3">
                                <input asp-for="Short_Text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label LabelClass">Long Text: </label>
                            </td>
                            <td colspan="3">
                                <input asp-for="Long_Text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label LabelClass">Min Order Quantity: </label>
                            </td>
                            <td>
                                <input asp-for="Min_Order_Qty" class="form-control" />
                            </td>
                      
                            <td>
                                <label class="control-label LabelClass">Is Active: </label>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="IsActive">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>

    <br />

</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
